.header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.header nav {
  padding: 20px;
  background-color: #1F5A95 !important;
  color: var(--white);
}

.header a {
  color: var(--white);
}

.header a:focus,
.header a:hover {
  color: var(--black);
}

.content {
  margin: 0 auto;
  /* max-width: 54ch; */
}