.hero {
  /* color: white; */
  margin: 50px auto;
}

.hero h2 {
  /* color: white; */
  /* margin: 50px auto; */
  max-width: 450px;
}

.hero p {
  margin: 0 auto;
  max-width: 600px;
}

.container {
  align-items: center;
  /* background-color: #293579; */
  background-color: var(--gray-dark);
  display: flex;
  flex-direction: column;
  height: 250px;
  /* justify-content: center; */
  text-align: center;
  width: 100vw;
}

.logos a {
  max-width: 170px;
}