.carousel-item {
  display: flex !important;
  gap: 20px;
  justify-content: space-evenly;
}

.team {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  max-width: 920px;
  justify-content: center;
}

.teamItem {
  cursor: pointer;
}

.teamItem h3 {
  font-size: 16px;
}

.teamItem p {
  font-size: 12px;
  max-width: 160px;
}

.profileBio {
  padding: 10px 60px;
}

.profileBio a{
  cursor: pointer;
}

.profileBioHead {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
  /* margin-bottom: 20px; */
  flex-direction: column;
}

.profileBioHead .name {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  top: -20px;
}

.profileBioHead span {
  font-size: 14px;
}