.hero {
  color: white;
  margin: 0 auto;
  background-color: var(--undp_blue);
  padding: 50px 0;
}

.hero h2 {
  color: white;
  max-width: 450px;
}

.hero p {
  margin: 0 auto;
  max-width: 600px;
}

.container {
  align-items: center;
  background-color: var(--gray-dark);
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
}

.logos a {
  max-width: 170px;
}

.partners {
  margin: 60px;
}