.header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.header nav {
  padding: 20px;
  background-color: var(--white)
}

.content {
  margin: 0 auto;
}

.active {
  font-weight: 900;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.active button {
  font-weight: 900;
}

.active-item {
  font-weight: 900;
}

.navDropDown button, .navDropDown button:hover, .navDropDown button.active {
  background-color: unset !important;
  border: none !important;
  color: var(--bs-nav-link-color) !important;
}